*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html, body
{
    height: 100%;
    font-family: 'Roboto Mono', monospace;
}

:root
{
    --main-bg-color: #3a0ca3;
    --main-bg-lighter: #4b1abb;
    --secondary-color: #21fa90;
    --sec_white: #edf2f4;
}

body
{
    background-color: var(--main-bg-color);
}

.container
{
    max-width: 1120px;
    height: 100%;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sec_white);
}

.app-block
{
    width: 700px;
    height: 600px;
    background-color: var(--main-bg-lighter);
    border-radius: 5px;
    padding: 50px;
}

.wrapper
{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.ps-wrapper input
{
    height: 40px;
    width: 60px;
    font-size: 30px;
    font-family: inherit;
    border-radius: 5px;
}

.span-wrapper
{
    font-size: 30px;
    margin-left: 20px;
}

.password-box
{
    display: flex;
    height: 300px;
    align-items: flex-end;
    justify-content: center;
    flex-flow: row wrap;
}

.password-box input.gpassword,
.password-box input.generate
{
    height: 45px;
    border-radius: 5px;
    font-size: 30px;
    font-family: inherit;

}

.password-box input.gpassword
{
    width: 100%;
    background-color: var(--sec_white);
    padding: 4px;
    text-align: center;
}

.password-box input.generate
{
    margin: 20px auto;
    width: 200px;
    background-color: var(--secondary-color);
    outline: none;
}

.password-box input.generate:hover
{
    cursor: pointer;
}